@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  max-width: 400px;
}

h2,
h3,
p {
  margin-bottom: 1rem;
}

code {
  font: inherit;
  background: #f4f4ff;
  padding: 0.2rem;
}

/* Navbar styles */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: #333;
  color: #fff;
}

.navbar__header {
  padding: 1.5rem;
  width: 100%;
  height: 85px;
  border-bottom: 1px solid #f4f4f4;
}

.navbar__list {
  height: calc(100% - 85px);
  overflow-y: auto;
}

.navbar__list-item {
  border-bottom: 1px solid #f4f4f4;
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
}

.navbar__list-item:hover,
.navbar__list-item:focus {
  background: #fff;
  color: #333;
}

.nav-link {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  padding: 1rem;
}

/* Main Section styles */
.main-documentation {
  margin-top: 250px;
  padding: 1rem;
  width: 100%;
}

.main-section {
  width: 100%;
  padding: 1rem;
}

.main-section__list {
  padding-bottom: 1rem;
  list-style: inside;
}

@media (min-width: 768px) {
  .navbar {
    position: fixed;
    width: 300px;
    height: 100%;
  }
  .main-documentation {
    margin-top: 0;
    margin-left: 300px;
    width: calc(100% - 300px);
  }
}
